.card {
  list-style-type: none;
  width: 413px;
  height: 445px;
}

.card__image {
  width: 413px;
  height: 413px;
  border-radius: 8px;
}

.card__item {
  list-style: none;
}

.card__description {
  margin: 0;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.card__like-button {
  list-style-type: none;
  background-image: url(../images/Union.svg);
  background-size: cover;
  opacity: 40%;
  height: 20px;
  width: 23px;
  border: 2px #212121;
}
