.cards {
  width: 1280px;
  height: 970px;
  margin: 0 auto;
}

.cards__list {
  display: grid;
  grid-template-columns: 413px 413px 413px;
  grid-template-rows: 413px 413px 413px;
  gap: 20px;
  padding: 0;
  border-bottom: 1px solid #21212166;
}
