.header {
  background-color: bisque;
}

.header_image {
  margin: 0 auto;
  display: flex;
  align-self: center;
}

.header_avatar {
  display: flex;
  flex-wrap: wrap;
  max-width: 505px;
  height: 190px;
  margin: 0;
}
