.profile {
  max-width: 1280px;
  max-height: 210px;
  padding-bottom: 20px;
  display: flex;
  border-bottom: 1px solid #21212166;
}

.profile__avatar {
  border: 8px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 420px;
  gap: 12px;
}

.profile__title {
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #212121b2;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__button_edit {
  margin-top: auto;
  color: #212121;
  height: 16px;
  width: 118px;
  background: none;
  opacity: 70%;
  border: none;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 16px;
  display: flex;
}

.profile__button_edit:hover {
  opacity: 100%;
}

.profile__button_image {
  margin-right: 8px;
}

.profile__button_Add {
  margin-left: auto;
  border-radius: 8%;
  background-color: #212121;
  color: #fcf5e5;
  width: 149px;
  height: 52px;
  margin-top: auto;
  text-align: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.profile__button_Add:hover {
  background: #212121cc;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    padding-top: 20px;
    width: 288px;
    height: 274px;
    padding-bottom: 20px;
    border-bottom-width: 1px;
    align-items: center;
    text-align: center;
  }

  .profile__avatar {
    margin-right: 0;
    margin-bottom: 12px;
    height: 80px;
    width: 80px;
  }

  .profile__title {
    max-width: 288px;
  }

  .profile__description {
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 6px;
  }

  .profile__button_edit {
    margin: 0 auto;
  }

  .profile__button_Add {
    margin: 20px auto;
    width: 100%;
  }
}
